// Import My MediaQUERY
@import "../../theme/mediaquery";

h4.songsample {
  text-transform: uppercase;
  margin-bottom: 0;
}

div.songsample {
  text-align: left;
}

div.songsample.card {
  margin-left: 2em;

  @include for-tablet-portrait-up {
    margin-left: 5em;
  }
}
