div.plesioTitle {
  text-align: center;
}
h2.plesioTitle {
  margin-bottom: 0.3em;
  width: 75vw;
}
hr.plesioTitle {
  margin-bottom: 2em;
  // border style
  border-top: 2px dashed #999999;
  border-bottom: 1px dashed #222222;
}
