//
// Demo App Styles
//

// We need the theming variables for the following styles.
@import "smui-theme";
// This adds classes like "mdc-theme--primary-bg".
@import "@material/theme/mdc-theme";
@import "@material/elevation/mixins";

// Import the typography styles.
@import "../theme/typography";

// Import My MediaQUERY
@import "../theme/mediaquery";

html {
  color: #bfc2c7;
  background-color: #1d3040;
}

body,
App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  padding: 0.5em;
  width: 85vw;
  margin: 0 auto;

  @include for-tablet-portrait-up {
    width: 75vw;
  }
}

div.mainContent {
  max-width: 800px;
  margin: 0 auto;
  justify-content: center;
}

@media (min-width: 640px) {
  main {
    max-width: none;
  }
}
